aiohttp[speedups]<4
aiofiles
aioshutil
anytree==2.8.0
apscheduler<4
aria2p
beautifulsoup4
cinemagoer
cloudscraper
cryptography
dnspython
feedparser
flask<4
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn<27
git+https://github.com/zevtyardt/lk21.git
httpx
langcodes[data]
lxml
motor<4
mutagen
markdown
natsort
pillow
psutil
pybase64
pycountry
pymongo<5
pyrofork==2.2.11
python-dotenv
python-magic
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
tgcrypto
uvloop
xattr
yt-dlp
pytz
